
<html>
<head>
<title>HTML Pandas Dataframe with CSS</title></head>
<link rel="stylesheet" type="text/css" href="df_style.css"/>
<body>
    <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>provider</th>
      <th>hour</th>
      <th>date</th>
      <th>boat_length</th>
      <th>dockage</th>
      <th>availability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>City Winery at the Chicago Riverwalk</td>
      <td>19:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>1</th>
      <td>City Winery at the Chicago Riverwalk</td>
      <td>20:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>2</th>
      <td>City Winery at the Chicago Riverwalk</td>
      <td>21:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Pizzeria Portofino</td>
      <td>17:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Pizzeria Portofino</td>
      <td>18:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Pizzeria Portofino</td>
      <td>19:00 PM</td>
      <td>2020-07-19</td>
      <td>90</td>
      <td>210</td>
      <td>120</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Pizzeria Portofino</td>
      <td>20:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Pizzeria Portofino</td>
      <td>21:00 PM</td>
      <td>2020-07-19</td>
      <td>45</td>
      <td>210</td>
      <td>165</td>
    </tr>
  </tbody>
</table>
</body>
</html>.
    