/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #52C1AF, #434554);
    background: linear-gradient(to right, #52C1AF, #434554);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}

a,
h1,
h2 {
    color: #434554;
}

h1,
h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

table.dataframe,
.dataframe th,
.dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.male th {
    background-color: #434554;
    color: #434554;
}

.female th {
    background-color: #52C1AF;
    color: white;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #ffff99;
}


}

/* demo styles */

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}
section {
    margin: 50px;
} */

/* for custom scrollbar for webkit browser*/

/* ::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */